
<header>
	<h2>
        Favorite Anime
	</h2>
    <p>One Piece, Code Geass, Attack on Titan</p>
</header>
<style>
	header {
        width: 100%;
        height: 200px;
        margin: 5px;
        padding: 2px;
	}
    p {
        margin-top: -20px;
    }
</style>
